@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
a {
    color: #015cb3;
    text-decoration: none; /* no underline */
  }

header {
    background-color: #015cb3;
    color: #ffd202;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 15px 0;
}

main {
  width: 100%;
  margin: 0 auto;
}

main p {
    margin: 4px 0 4px 16px;
}
#toc {
    width:80%;
    margin: 10px auto;
}
#toc li {
    margin: 4px 0;
}
footer {
    background-color: #015cb3;
    color: #ffd202;
    text-align: center;
    padding: 15px 0;
}

.amts {
    margin: 10px auto;
    border: solid 1px #8fa8c1;
    padding: 15px;
}
.amts ul {
    margin: 2px;
    
}
.listItemWrapper {
    padding: 20px 0;
}
.listItemWrapper h2 {
    margin: 0;
    padding: 5px;
    font-size: 1.3em;
}
.listItemWrapper.background {
    background-color:  #f1f8ff;
}
.listItem {
    width:80%;
    margin: 0 auto;
}